<h1>Editar usuário</h1>
<%= render "form", user: @user %>

<br>
<div>
  <%= link_to "Ver este usuário", @user, class: "btn btn-primary" %> |
  <%= link_to "Voltar para usuários", users_path, class: "btn btn-secondary" %>
</div>